<%= link_to "Create new board", new_board_path %>

<table style="width: 80%;" border="1">
  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Closed</th>
      <th> Edit | Delete</th>
  </tr>
  <% @boards.each do |board| %>
    <tr>
      <th><%= board.id %></th>
      <th><%= board.name %></th>
      <th><%= board.description %></th>
      <th><%= board.closed %></th>
      <th>
        <%= link_to "Edit", edit_board_path( board ) %> |
        <%= link_to "Delete", board_path( board ), :method => :delete, :confirm => "Do you want to delete?" %>
      </th>
  </tr>
  <% end %>
</table>