<div>
  category :
  <%= form.input_field :category_id, :collection => collection_for_categories, :as => :select %>
</div>
<div>
  title :
  <%= form.input_field :title %>
</div>
<div>
  <%= form.input_field :content %>
</div>
<div>
  <%= form.input :published_at, :as => :datepicker %>
</div>
<%= form.submit %>